<h1 style="color:blue">
    Logic Apps Azure
</h1>

<form method="post">
    <label>To: </label>
    <input type="text" name="email" class="form-control" />
    <label>Subject</label>
    <input type="text" name="asunto" class="form-control" />
    <label>Message</label>
    <textarea name="mensaje" class="form-control"></textarea>
    <button class="btn btn-info">
        Send mail
    </button>
</form>
<h2 style="color:red">@ViewData["MENSAJE"]</h2>
