@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form method="post"
          asp-area="Identity"
          asp-page="/Account/Logout"
          asp-route-returnUrl="@Url.Action("Index", "Home")">
        <span style="color:red">
            @UserManager.GetUserName(User)
        </span>
        <button class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-bg-300 bg-bg-100 text-text-200 shadow-sm duration-300 hover:bg-bg-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-white dark:border-bg-200 dark:text-text-100 dark:hover:bg-bg-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-bg-200">
            Log out
        </button>
    </form>
    <a style="font-weight: 500;transition-property: color;transition-duration: 150ms;transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);color: #9CA3AF;outline: 2px solid transparent;outline-offset: 2px;outline-width: 2px;outline-color: rgba(229, 231, 235, 0.5);" asp-area="" asp-controller="Empresas" asp-action="Empresas">empresas</a>
}